.loginPage{
    background: url(https://png.pngtree.com/png-clipart/20191121/original/pngtree-user-login-or-authenticate-icon-on-gray-background-flat-icon-ve-png-image_5089976.jpg);
    background: linear-gradient(rgba(11, 11, 11, 0.5),rgba(10,10,10,0.5)),url(https://static.vecteezy.com/system/resources/previews/005/879/539/original/cloud-computing-modern-flat-concept-for-web-banner-design-man-enters-password-and-login-to-access-cloud-storage-for-uploading-and-processing-files-illustration-with-isolated-people-scene-free-vector.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm{
    background: url(https://png.pngtree.com/png-clipart/20191121/original/pngtree-user-login-or-authenticate-icon-on-gray-background-flat-icon-ve-png-image_5089976.jpg);
    opacity: 0.7;
}